# Eclipse / STS
.metadata/
*.tmp
*.bak
*.swp
*~.nib
.localhistory/
.recommenders/
.apt_generated/
.classpath
.project
.settings/

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/
!**/src/main/**/.mvn/

# Gradle (if applicable)
.gradle/
build/

# IntelliJ (if you ever open the project with it)
.idea/
*.iml

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db

# Package files
*.jar
*.war
*.ear
